.navbar__container {
    background-color: black !important;
    color: black;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    padding: 1.5rem 10vw;
    .p__mobile {
        padding: 1.5rem 3vw;
    }
}
